NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
RESEND_FROM_EMAIL=

AISENSY_API_KEY=
AISENSY_CAMPAIGN_NAME=
AISENSY_SOURCE=

FAST2SMS_API_KEY=
FAST2SMS_ROUTE=
FAST2SMS_SENDER_ID=
FAST2SMS_ENTITY_ID=
FAST2SMS_TEMPLATE_ID=

BOOTSTRAP_SECRET=